<form [formGroup]="groupForm" (ngSubmit)="login()">
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" id="name" formControlName="name" required>
      <span *ngIf="!groupForm.get('name').valid" class="cs1">
        Please enter a valid username
      </span>
      <br>
      <label><b>Password</b></label>
      <input type="password" id="password" formControlName="password" required>
      <span *ngIf="!groupForm.get('password').valid" class="cs2">
        Please enter a valid password
      </span>
      <br>
      <button type ="submit" id="button" [disabled]= "!groupForm.valid" >Log In</button>
    </div>
  </form>