<form [formGroup]="groupForm" (ngSubmit)="login()">
    <div class="container">
      <mat-form-field class="field1">
        <input matInput placeholder="Username" formControlName="name" required>
      </mat-form-field>
      <br>
      <span *ngIf="!groupForm.get('name').valid && groupForm.get('name').touched" class="cs1">
        Please enter a valid username
      </span>
      <br>
      <mat-form-field class="field2">
        <input matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <br>
      <span *ngIf="!groupForm.get('password').valid && groupForm.get('password').touched" class="cs2">
        Please enter a valid password
      </span>
      <br>
      <button mat-button color= "primary" type ="submit" [disabled]= "!groupForm.valid" >Log In</button>
    </div>
  </form>
  <br>
  <a routerLink= "/home" routerLinkActive= "active">Home</a>  